<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mobile_decrypted %></td>
      </tr>
    <% end %>
  </tbody>
</table>
